#include <physical_layouts.dtsi>

/ {
    jellysplit_physical_layout: jellysplit_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "JellySplit";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    8   54       0     0     0>
            , <&key_physical_attrs 100 100  108   27       0     0     0>
            , <&key_physical_attrs 100 100  208   12       0     0     0>
            , <&key_physical_attrs 100 100  308    0       0     0     0>
            , <&key_physical_attrs 100 100  409   25       0     0     0>
            , <&key_physical_attrs 100 100  509   40       0     0     0>
            , <&key_physical_attrs 100 100  609   53       0     0     0>
            , <&key_physical_attrs 100 100  957   53       0     0     0>
            , <&key_physical_attrs 100 100 1057   40       0     0     0>
            , <&key_physical_attrs 100 100 1157   25       0     0     0>
            , <&key_physical_attrs 100 100 1257    0       0     0     0>
            , <&key_physical_attrs 100 100 1358   12       0     0     0>
            , <&key_physical_attrs 100 100 1458   27       0     0     0>
            , <&key_physical_attrs 100 100 1558   54       0     0     0>
            , <&key_physical_attrs 100 100    8  154       0     0     0>
            , <&key_physical_attrs 100 100  108  127       0     0     0>
            , <&key_physical_attrs 100 100  208  112       0     0     0>
            , <&key_physical_attrs 100 100  308  100       0     0     0>
            , <&key_physical_attrs 100 100  409  125       0     0     0>
            , <&key_physical_attrs 100 100  509  140       0     0     0>
            , <&key_physical_attrs 100 100  609  154       0     0     0>
            , <&key_physical_attrs 100 100  957  154       0     0     0>
            , <&key_physical_attrs 100 100 1057  140       0     0     0>
            , <&key_physical_attrs 100 100 1157  125       0     0     0>
            , <&key_physical_attrs 100 100 1257  100       0     0     0>
            , <&key_physical_attrs 100 100 1358  112       0     0     0>
            , <&key_physical_attrs 100 100 1458  127       0     0     0>
            , <&key_physical_attrs 100 100 1558  154       0     0     0>
            , <&key_physical_attrs 100 100    8  254       0     0     0>
            , <&key_physical_attrs 100 100  108  227       0     0     0>
            , <&key_physical_attrs 100 100  208  212       0     0     0>
            , <&key_physical_attrs 100 100  308  200       0     0     0>
            , <&key_physical_attrs 100 100  409  226       0     0     0>
            , <&key_physical_attrs 100 100  509  241       0     0     0>
            , <&key_physical_attrs 100 100  609  254       0     0     0>
            , <&key_physical_attrs 100 100  957  254       0     0     0>
            , <&key_physical_attrs 100 100 1057  241       0     0     0>
            , <&key_physical_attrs 100 100 1157  226       0     0     0>
            , <&key_physical_attrs 100 100 1257  200       0     0     0>
            , <&key_physical_attrs 100 100 1358  212       0     0     0>
            , <&key_physical_attrs 100 100 1458  227       0     0     0>
            , <&key_physical_attrs 100 100 1558  254       0     0     0>
            , <&key_physical_attrs 100 100    0  364 (-1500)    50   414>
            , <&key_physical_attrs 100 100  108  328       0     0     0>
            , <&key_physical_attrs 100 100  208  312       0     0     0>
            , <&key_physical_attrs 100 100  308  301       0     0     0>
            , <&key_physical_attrs 100 100  409  326       0     0     0>
            , <&key_physical_attrs 100 100  509  341       0     0     0>
            , <&key_physical_attrs 100 100  609  354       0     0     0>
            , <&key_physical_attrs 100 100  957  354       0     0     0>
            , <&key_physical_attrs 100 100 1057  341       0     0     0>
            , <&key_physical_attrs 100 100 1157  326       0     0     0>
            , <&key_physical_attrs 100 100 1257  301       0     0     0>
            , <&key_physical_attrs 100 100 1358  312       0     0     0>
            , <&key_physical_attrs 100 100 1458  328       0     0     0>
            , <&key_physical_attrs 100 100 1566  364    1500  1616   414>
            , <&key_physical_attrs 100 100  363  433  (-500)   413   483>
            , <&key_physical_attrs 100 100  475  438    1000   525   488>
            , <&key_physical_attrs 100 100  582  472    2500   632   522>
            , <&key_physical_attrs 100 100  677  532    4000   727   582>
            , <&key_physical_attrs 100 100  889  532 (-4000)   939   582>
            , <&key_physical_attrs 100 100  984  472 (-2500)  1034   522>
            , <&key_physical_attrs 100 100 1091  438 (-1000)  1141   488>
            , <&key_physical_attrs 100 100 1203  433     500  1253   483>
            ;
    };
};


&layouts_jellysplit_position_map {
    jellysplit_posmap: seven_column {
        physical-layout = <&jellysplit_physical_layout>;
        positions
            = <0    1   2   3   4   5   6   7   8   9   10  11  12  13>
            , <14   15  16  17  18  19  21  22  23  24  25  26  27  28>
            , <29   30  31  32  33  34  35  36  37  38  39  40  41  42>
            , <43   44  45  46  47  48  49  50  51  52  53  54  55  56>
            , <             57  58  59  60  61  62  63  64            >;
    };
};