#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/rgb.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zephyr,display = &oled;
        zmk,kscan = &kscan0;
        zmk,physical-layout = &jellysplit_physical_layout;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <14>;
        rows = <5>;

        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6)  RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6)  RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6)  RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6)  RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13)
                                    RC(4,3) RC(4,4) RC(4,5) RC(4,6)  RC(4,7) RC(4,8) RC(4,9) RC(4,10)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        row-gpios = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    jellysplit_physical_layout: jellysplit_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "JellySplit";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    8   54       0     0     0>
            , <&key_physical_attrs 100 100  108   27       0     0     0>
            , <&key_physical_attrs 100 100  208   12       0     0     0>
            , <&key_physical_attrs 100 100  308    0       0     0     0>
            , <&key_physical_attrs 100 100  409   25       0     0     0>
            , <&key_physical_attrs 100 100  509   40       0     0     0>
            , <&key_physical_attrs 100 100  609   53       0     0     0>
            , <&key_physical_attrs 100 100  957   53       0     0     0>
            , <&key_physical_attrs 100 100 1057   40       0     0     0>
            , <&key_physical_attrs 100 100 1157   25       0     0     0>
            , <&key_physical_attrs 100 100 1257    0       0     0     0>
            , <&key_physical_attrs 100 100 1358   12       0     0     0>
            , <&key_physical_attrs 100 100 1458   27       0     0     0>
            , <&key_physical_attrs 100 100 1558   54       0     0     0>
            , <&key_physical_attrs 100 100    8  154       0     0     0>
            , <&key_physical_attrs 100 100  108  127       0     0     0>
            , <&key_physical_attrs 100 100  208  112       0     0     0>
            , <&key_physical_attrs 100 100  308  100       0     0     0>
            , <&key_physical_attrs 100 100  409  125       0     0     0>
            , <&key_physical_attrs 100 100  509  140       0     0     0>
            , <&key_physical_attrs 100 100  609  154       0     0     0>
            , <&key_physical_attrs 100 100  957  154       0     0     0>
            , <&key_physical_attrs 100 100 1057  140       0     0     0>
            , <&key_physical_attrs 100 100 1157  125       0     0     0>
            , <&key_physical_attrs 100 100 1257  100       0     0     0>
            , <&key_physical_attrs 100 100 1358  112       0     0     0>
            , <&key_physical_attrs 100 100 1458  127       0     0     0>
            , <&key_physical_attrs 100 100 1558  154       0     0     0>
            , <&key_physical_attrs 100 100    8  254       0     0     0>
            , <&key_physical_attrs 100 100  108  227       0     0     0>
            , <&key_physical_attrs 100 100  208  212       0     0     0>
            , <&key_physical_attrs 100 100  308  200       0     0     0>
            , <&key_physical_attrs 100 100  409  226       0     0     0>
            , <&key_physical_attrs 100 100  509  241       0     0     0>
            , <&key_physical_attrs 100 100  609  254       0     0     0>
            , <&key_physical_attrs 100 100  957  254       0     0     0>
            , <&key_physical_attrs 100 100 1057  241       0     0     0>
            , <&key_physical_attrs 100 100 1157  226       0     0     0>
            , <&key_physical_attrs 100 100 1257  200       0     0     0>
            , <&key_physical_attrs 100 100 1358  212       0     0     0>
            , <&key_physical_attrs 100 100 1458  227       0     0     0>
            , <&key_physical_attrs 100 100 1558  254       0     0     0>
            , <&key_physical_attrs 100 100    0  364 (-1500)    50   414>
            , <&key_physical_attrs 100 100  108  328       0     0     0>
            , <&key_physical_attrs 100 100  208  312       0     0     0>
            , <&key_physical_attrs 100 100  308  301       0     0     0>
            , <&key_physical_attrs 100 100  409  326       0     0     0>
            , <&key_physical_attrs 100 100  509  341       0     0     0>
            , <&key_physical_attrs 100 100  609  354       0     0     0>
            , <&key_physical_attrs 100 100  957  354       0     0     0>
            , <&key_physical_attrs 100 100 1057  341       0     0     0>
            , <&key_physical_attrs 100 100 1157  326       0     0     0>
            , <&key_physical_attrs 100 100 1257  301       0     0     0>
            , <&key_physical_attrs 100 100 1358  312       0     0     0>
            , <&key_physical_attrs 100 100 1458  328       0     0     0>
            , <&key_physical_attrs 100 100 1566  364    1500  1616   414>
            , <&key_physical_attrs 100 100  363  433  (-500)   413   483>
            , <&key_physical_attrs 100 100  475  438    1000   525   488>
            , <&key_physical_attrs 100 100  582  472    2500   632   522>
            , <&key_physical_attrs 100 100  677  532    4000   727   582>
            , <&key_physical_attrs 100 100  889  532 (-4000)   939   582>
            , <&key_physical_attrs 100 100  984  472 (-2500)  1034   522>
            , <&key_physical_attrs 100 100 1091  438 (-1000)  1141   488>
            , <&key_physical_attrs 100 100 1203  433     500  1253   483>
            ;
    };
};


&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
        inversion-on;
    };
};